.contact {
    padding: 20px;
    /* background:#c18b3e1c; */
    text-align: center;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.contact-cards {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-card {
    background: #c18b3e1c;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}